.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.articleFilterSection {
  display: flex;
  gap: 16px;

  label {
    display: flex;
    gap: 8px;
  }

  select {
    font-size: inherit;
    font-family: inherit;
  }
}

.articleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
