.loginForm {
  p {
    margin: 0;
  }
  input {
    margin-right: 15px;
    background-color: white;
    color: black;
  }

  align-self: center;

  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 14px;
  color: black;
  padding: 50px;
}

.invalidUsername {
  color: red;
}

.loginUsernameHintSection {
  align-self: center;
  margin-top: 20px;
  color: grey;
  font-style: italic;
}
