.topicList {
  display: flex;
  align-items: center;
  gap: 8px;
  button {
    text-transform: capitalize;
  }
}

.button {
  background-color: white;
  color: black;
}

.selectedTopic {
  background-color: orange;
}
